@model IEnumerable<ButodoProject.Core.Service.Dto.SpendTimeDto>
@{
    ViewData["Title"] = "Harcanan Saat";
}
<div class="container-fluid">
    <p class="mb-4 mt-4"></p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Harcanan Saat</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                               Harcanan Saat
                            </th>
                            <th>
                                Personel
                            </th>
                             <th>
                                Görev
                            </th>
                            <th>
                                <a asp-action="AddorEdit" class="btn btn-outline-success"><i class="fa fa-plus-square"></i> Harcanan Saat</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                               <td>
                                    @Html.DisplayFor(modelItem => item.Minute) 
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PersonalName) 
                                </td>
                               <td>
                                    @Html.DisplayFor(modelItem => item.TaskTableName) 
                                </td>
                                <td>
                                    <a asp-action="AddOrEdit" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Bu kayıdı kaldırmak istediğinize emin misiniz?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>